<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense List</title>
    <style>
        body, html {
            height: 100%; /* Ensure body and html fill the entire viewport */
            margin: 0; /* Remove default margin */
        }

        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>

<div th:replace="navbar :: navbar"></div>

<!--<div class="container">-->
<!--    <div class="card">-->
<!--        <a href="/expenses/add">Add New Expense</a>-->
<!--    </div>-->
<!--    <div class="card">-->
<!--        <a href="/users/add">Add New User</a>-->
<!--    </div>-->
<!--    <div class="card">-->
<!--        <a href="/expenses">View All Expense</a>-->
<!--    </div>-->
<!--    <div class="card">-->
<!--        <a href="/users">View All Users</a>-->
<!--    </div>-->
<!--</div>-->

</body>

</html>
